In [10]:
import pandas as pd
import numpy as ny
import matplotlib.pyplot as plt
from datasets import load_dataset
dataset=load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()
df['job_posted_date']=pd.to_datetime(df['job_posted_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [11]:
import ast

In [5]:
def clean(salary):
    if pd.notna(salary):
        return ast.literal_eval(salary)
df['job_skills']=df['job_skills'].apply(clean)

In [6]:
df['job_skills'].sample()

470019    [r, sas, sas, sql, python, hadoop, tableau]
Name: job_skills, dtype: object

In [12]:
df['job_skills']=df['job_skills'].apply(lambda salary: ast.literal_eval(salary) if pd.notna(salary) else salary)

In [13]:
df['job_skills'].sample(10)

542819                                   [sql, java, azure]
26254                                   [sql, mongo, azure]
37785                  [sql, sql server, azure, word, ssis]
696548                                                 None
592249                            [sql, microstrategy, sap]
177855                                           [assembly]
36151       [python, java, r, keras, pytorch, scikit-learn]
623711    [python, sql, bigquery, aws, gcp, azure, numpy...
220350                 [sql, python, git, confluence, jira]
396626                      [go, python, scala, c++, spark]
Name: job_skills, dtype: object